@import url('https://fonts.googleapis.com/css?family=Livvic&display=swap');

:root{
    --main-color: #73bc52
}
body {
    max-width: 980px;
    margin:  auto;
	padding: 0;
	border: 0;
font-family: 'Livvic', sans-serif;
}

header{
    height: 100px;
    background: var(--main-color);
}

header .logo img[src^="img"]{
    height: 70px;
    display: block;
    margin: 0 auto;
}

header .panel ul{
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    justify-content: space-around;
}

header .panel li a {
    text-decoration: none;
    color: aliceblue;
    text-transform: uppercase;
    font-size: 16px;
    text-shadow: 0 1px 0 rgb(6, 97, 18)
}

header .panel li a:hover {
    color: #1b6907;
}

@media (min-width: 500px) {
    header{
        height: 70px;
    }
    header .logo img[src^="img"]{
        float: left;
        display: inline
    }
    header li{
       margin-top: 40px;

    }
}

@media (min-width: 650px) {
    header .panel li a{
        font-size: 20px;
    }
    header .panel ul{
        margin-left: 30%
    }
}

#home {

    background-color: rgba(247, 255, 243, 0.979);
}

#home [src^=img] {
    width: 100%;
    display: block;
    max-width: 400px;
    margin: auto
}

#home div {
    text-align: center;
    font-size: 1.2rem;
    padding-bottom: 100px
}

#home div  h2 {
    margin: 0;
    padding: 15px 0 2px 0;
    font-weight: 900;
}

#home div p:first-of-type {
    font-weight: 700;
    margin: 0 0 25px 0;
}

#home div p:nth-child(3){
    font-size: 0.9rem;
}

#home div p:last-of-type {
    margin: 30px 0 30px 0;
}

#home div a {
    color: #ffffff;
    padding: 20px 30px 20px 30px;
    font-weight: 800;
    background-color: var(--main-color);
    border-radius: 15px;
    text-decoration: none;
}

#home div a:hover {
    color: #1b6907;
}

@media (min-width: 500px){
    #home [src^=img] {
    width: 49%;
    float: left;
}
#home div {
    font-size: 1rem
}
}

@media (min-width: 700px){
    #home [src^=img]{
        padding-left: 5%;
    }
    #home div {
        text-align: center;
        padding-top: 25px;
    }
    #home div p:nth-child(3){
    padding: 20px  0
    }
}

@media (min-width: 800px){
     #home div{
         font-size: 1.7rem;
     }
     #home div p:nth-child(3){
          font-size: 1.3rem;
     }
     #home [src^=img]{
     max-width: 480px;
     }
}

.section_name {
    text-transform: uppercase;
    font-size: 1.5rem;
    padding: 0 20px 20px 5%;
    margin: 0
}

@media (min-width: 650px){
    .section_name{
        font-size: 1.8rem;
    }
}

#our_games {
    border-top-style: solid;
    border-top-color: var(--main-color);
    background-color: rgb(238, 250, 231);
    padding: 50px 0 50px 0;
}

#our_games .slider {
      background-image: url(../img/games/wildscapes/wildscapes.jpg);
    background-position: center;
    background-size: cover;
    height: 350px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#our_games div a {
    border: 1px solid #000000;
    color: #000000;
    padding: 10px 40px;
    font-weight: 800;
    background-color: rgba(239, 255, 230, 0.856);
    border-radius: 5px;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: white;
    margin-bottom: 40px;
}

#our_games div a:hover {
    color: var(--main-color);
    border: 2px solid var(--main-color);
}

@media (min-width: 700px){
    #our_games .slider{
        height: 450px;
    }
}

#about_us {
    border-top-style: solid;
    border-top-color: var(--main-color);
    background-color: rgba(247, 255, 243, 0.979);
    padding: 50px 0 50px 0;
}

#about_us [src^=img] {
    width: 100%;
    display: block;
}

#about_us p{
        margin:10px 10px 20px 10px;
    }

@media (min-width: 650px){
    #about_us [src^=img] {
        float: right;
        width: 65%;
        padding-left: 15px;
    }
    #about_us p {
        font-size: 1.1rem;
    }
}

#jobs {
    border-top-style: solid;
    border-top-color: #73bc52;
    background-color: rgb(220, 241, 206);
    padding: 50px
}


#jobs [href*=html] {
    font-size: 1.3rem;
    color: #000000;
    padding: 20px 20px 20px 0;
    margin: 0
}

#jobs p {
    color: #000000a9;
    border-bottom-style: solid;
    margin: 0;
    padding: 5px 20px 20px 0;
    border-bottom-color: #0000000e
}

@media (min-width: 650px){
    #jobs [href*=html] {
        font-size: 1.5rem;
    }
}

#contact {
    border-top-style: solid;
    border-top-color: #73bc52;
    background-color: rgb(238, 250, 231);
    padding: 50px 0 50px 0;
}

#contact img {
    display: none
}

#contact form{
    display: flex;
    justify-content: center;

}

#contact input {
    width: 300px;
    height: 30px;
}

#contact textarea {
    width: 300px;
}

#contact span{
    display: flex;
    justify-content: center;
}
#contact input[type*="submit"] {
    width: 115px;
    height: 37px;
    color: #ffffff;
    font-weight: 700;
    background-color: #73bc52;
    border-radius: 15px;
    font-size: 16px;
}

#contact input[type="submit"]:hover {
    color: #1b6907;
}

@media (min-width: 400px){
    #contact input {
    width: 400px;
    height: 30px;
}

#contact textarea {
    width: 400px;
}
}

@media (min-width: 650px){
    #contact .section_name{
        text-align: center;
    }
    #contact img {
        display: block;
         float: left;
         width: 25%;
         max-width: 350px;
         padding-left: 5%
}
    #contact input {
    width: 400px;
    height: 30px;
}

#contact textarea {
    width: 400px;
}
}

@media (min-width: 900px){
    #contact input {
    width: 500px;
    height: 30px;
    }

#contact textarea {
    width: 500px;
    }

#contact span{
    justify-content: flex-end
    }
}

footer {
    background: var(--main-color);
}

footer img[alt*="fancy"]{
    height: 70px;
    margin: 5px;

}

footer p {
    text-align: center;
    color: #81cf6e;
    font-size: 20px;
    margin: 0
}

footer .social_media{
    display: flex;
    justify-content: space-around
}
footer .social_media img {
    height: 45px;
    border-radius: 10px;
}

@media (min-width: 450px){
    footer img[alt*="fancy"]{
        float: left;
    }
    footer p {
        padding-top: 10px
    }
}

@media (min-width: 550px){
    .social_media img {
        height: 60px;
        padding: 0 10px;
    }

    footer p {
        font-size: 2rem;
    }
    footer .social_media{
    display: flex;
    justify-content: center
    }
}

#games {

}

#games  img[src*="head"]{
    width: 100%;
}
#games div img[alt^="icon"]{
    float: left;
    padding: 30px;
    width: 30%;
    max-width: 200px
}
#games p{
    margin:0;
    padding: 30px 10px 0 10px;
    font-size: 22px
}

#games div{
    padding: 0 15px;
    font-size: 1.2rem
}

#games h3{
    clear: both;
    padding: 0 15px
}

#games p:last-of-type{
    margin:0;
    padding: 30px 10px 0 10px;
    font-size: 22px
}

#games h4{
    padding: 0 10px
}


#games .social_media, .download{
    display: flex;
    justify-content: space-around

}
#games .social_media img {
    height: 55px;
    border-radius: 10px;
    padding: 0
}
#games .download img{
    padding: 10px
}
@media (min-width: 450px){
    #games .social_media{
    display: flex;
    justify-content: flex-start
    }
    #games .download{
    display: flex;
    justify-content: flex-end
    }
#games .social_media img {
    height: 65px;
    padding: 20px
}
#games .download img{
    padding: 20px
}
}