@import url('https://fonts.googleapis.com/css?family=Livvic&display=swap');


:root{
    --main-color: #73bc52
}
html {
    background: rgb(244, 252, 245);
    scroll-behavior: smooth;
}
.container {
    max-width: 980px;
    margin:  auto;
    padding: 0
}
body {
	padding: 0;
	border: 0;
    margin: 0;
    font-family: 'Livvic', sans-serif;
}

header {
    background: rgb(133,199,99);
    background: #74bc52d3 ;
    -webkit-backdrop-filter: saturate(180%) blur(10px);
    backdrop-filter: saturate(180%) blur(10px);
    position: fixed;
    width: 100%;
    z-index:9999;
}

header .logo img[src^="img"]{
    height: 60px;
    display: block;
    margin: 0 auto;
}
header  li a {
    text-decoration: none;
    color: aliceblue !important;
    text-transform: uppercase;
    font-size: 16px;
    text-shadow: 0 1px 0 rgb(6, 97, 18);
    font-weight: 600;
}

.nav-link:focus, .nav-link:hover {
    color: #1b6907 !important;
}
.navbar-light .navbar-toggler {
    outline: none;
    border-radius: 20px;
    padding: 5px 12px;
    border-top: 4px solid rgba(0,0,0,.1);
    border-right: 5px solid rgba(0,0,0,.1);
}

.navbar-light .navbar-toggler:active{
    background-color: #8cd669;
}


.navbar-light .navbar-toggler-icon{
        width: 30px;
}

#navbarNav {
        justify-content: flex-end
}
header  li a {
    text-decoration: none;
    color: aliceblue !important;
    text-transform: uppercase;
    font-size: 16px;
    text-shadow: 0 1px 0 rgb(6, 97, 18);
    font-weight: 600;
}

header  li a:hover {
    color: #1b6907 !important;
}

#home {
    background-color: rgba(247, 255, 243, 0.979);
     padding-top: 90px;
}

#home [src^=img] {
    width: 100%;
    display: block;
    max-width: 400px;
    margin: auto
}
#home div {
    text-align: center;
    font-size: 1rem;
    padding-bottom: 30px;
}

#home div  h2 {
    margin: 0;
    padding: 15px 0 2px 0;
    font-weight: 900;
}

#home div p:first-of-type {
    font-weight: 700;
    margin: 0 0 25px 0;
}

#home div p:nth-child(3){
    font-size: 0.9rem;
}

#home div p:last-of-type {
    margin: 30px 0 30px 0;
}

#home div a {
    color: #ffffff;
    padding: 20px 30px 20px 30px;
    font-weight: 800;
    background-color: #73bc52;
    background-color: var(--main-color);
    border-radius: 15px;
    text-decoration: none;
}

#home div a:hover {
    color: #1b6907;
    transition-duration: .2s
}

@media (min-width: 520px){
    #home .container{
       display:flex;
    }
    #home div{
        padding-right: 5px;
    }
    #home [src^=img] {
    width: 49%;
    }
    #home h2{
        font-size: 1.7rem
    }
   #home div p:nth-child(3){
    font-size: 0.7rem;
}
}

@media (min-width: 720px){
    #home div {
        text-align: center;
        padding-right: 10px;
    }
    #home div p:nth-child(3){
    padding: 20px  0
    }
    #home h2{
        font-size: 2rem
    }
     #home div p:nth-child(3){
    font-size: 0.9rem;
}
}

@media (min-width: 820px){
     #home div{
         font-size: 1.4rem;
     }
     #home div p:nth-child(3){
          font-size: 1.1rem;
     }
     #home [src^=img]{
     max-width: 480px;
     }
}

.section_name {
    text-transform: uppercase;
    font-size: 1.5rem;
    padding: 35px 20px 20px 5%;
    margin: 0;
    font-weight: 600;
}

@media (min-width: 650px){
    .section_name{
        font-size: 1.8rem;
    }
}

#our_games {
    border-top-style: solid;
    border-top-color: #73bc52;
    border-top-color: var(--main-color);
    background-color: rgb(238, 250, 231);
    padding: 50px 0 50px 0;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
    width: 50px;
    height: 200px;
}

.carousel-indicators li{
    width: 20px;
    height: 10px;
    margin:0 5px;
}
#about_us {
    border-top-style: solid;
    border-top-color: #73bc52;
    border-top-color: var(--main-color);
    background-color: rgba(247, 255, 243, 0.979);
    padding: 50px 0 50px 0;
}

#about_us [src^=img] {
    width: 100%;
    display: block;
}

#about_us p{
        margin:10px 10px 20px 10px;
    }

@media (min-width: 650px){
    #about_us [src^=img] {
        float: right;
        width: 65%;
        padding-left: 15px;
    }
    #about_us p {
        font-size: 1.1rem;
    }
}

#jobs {
    border-top-style: solid;
    border-top-color: #73bc52;
    border-top-color: var(--main-color);
    background-color: rgb(220, 241, 206);
    padding: 50px
}


#jobs button {
    font-size: 1.2rem;
    background-color: rgb(220, 241, 206);
    border:none;
    outline: none;
    text-decoration: underline;
    margin: 0;
    padding: 15px 5px 5px 5px;
    text-align: left;
    cursor: pointer;
}
#jobs button:hover{
    color: #1b6907;
}

#jobs .location{
    color: #000000a9;
    border-bottom-style: solid;
    margin: 0;
    padding: 5px 20px 20px 5px;
    border-bottom-color: rgb(228, 225, 225);
    border-bottom-color: #0000000e
}
#jobs h3{
    font-size: 1.4rem
}

@media (min-width: 650px){
    #jobs button {
        font-size: 1.5rem;
    }
}

#contact {
    border-top-style: solid;
    border-top-color: #73bc52;
    background-color: rgb(238, 250, 231);
    padding: 50px 0 50px 0;
}

#contact img {
    display: none
}
 #contact div {
        display: flex;

    }
    #contact  .need{
       flex-wrap: wrap;
    }
    #contact  .need label{
       flex-wrap: wrap;
    }
#contact form{
    margin: auto;
}

#contact input {
    width: 300px;
    height: 30px;
}

#contact textarea {
    width: 300px;
}

#contact span{
    display:flex;
    justify-content: center;
}
#contact input[type*="submit"] {
    width: 115px;
    height: 37px;
    color: #ffffff;
    font-weight: 700;
    background-color: #73bc52;
    border-radius: 15px;
    font-size: 16px;
}

#contact input[type="submit"]:hover {
    color: #1b6907;
}


@media (min-width: 400px){
    #contact input {
    width: 400px;
    height: 30px;
}

#contact textarea {
    width: 400px;
}

}

@media (min-width: 710px){
      #contact .section_name{
        text-align: center;
       padding: 20px 0;
    }
    #contact img {
        display: block;
         width: 290px;
         padding-left: 5%
}

    #contact input {
    width: 400px;
    height: 30px;
}

#contact textarea {
    width: 400px;
}
}

@media (min-width: 900px){
    #contact input {
    width: 500px;
    height: 30px;
    }

#contact textarea {
    width: 500px;
    }

#contact span{
    justify-content: flex-end
    }
}


footer {
    background-color: #73bc52;
    background: var(--main-color);
}

footer img[alt*="fancy"]{
    height: 70px;
    margin: 5px;

}

footer p {
    text-align: center;
    color: #81cf6e;
    font-size: 20px;
    margin: 0
}

footer .social_media{
    display: flex;
    justify-content: space-around;
    margin-top: -15px;
    padding-bottom: 15px

}
footer .social_media img {
    height: 45px;
    border-radius: 10px;
}

@media (min-width: 450px){
    footer .container{
        display:flex;
    }
    footer div{
        flex: 1;
    }
    footer p {
        padding-top: 10px
    }
}

@media (min-width: 550px){
    .social_media img {
        height: 60px;
        padding: 0 10px;
    }

    footer p {
        font-size: 1.5rem;
    }
    footer .social_media{
    display: flex;
    justify-content: center
    }
}



#games  img[src*="head"]{
    width: 100%;
    padding-top: 70px;
    padding-bottom: 20px
}
#games div img[alt^="icon"]{
    float: left;
    margin-right: 5px;
    width: 30%;
    max-width: 200px
}
#games p:first-of-type{
    padding: 0 10px 0 10px;
}
#games p{
    margin:0;
    padding: 30px 10px 0 10px;
    font-size: 18px
}

#games div{
    padding: 0 15px;
}

#games h3{
    clear: both;
    padding: 25px 15px 10px 15px;
    font-size: 28px
}

#games p:last-of-type{
    margin:0;
    padding: 30px 10px 40px 10px;
    font-size: 22px
}

#games h4{
    padding: 0 10px
}


#games .social_media, .download{
    display: flex;
    justify-content: space-around

}
#games .social_media img {
    height: 55px;
    border-radius: 10px;
    padding: 0
}
#games .download img{
    padding: 10px
}
@media (min-width: 450px){
    #games .social_media{
    display: flex;
    justify-content: flex-start
    }
    #games .download{
    display: flex;
    justify-content: flex-end
    }
#games .social_media img {
    height: 65px;
    margin: 20px
}
#games .download img{
    padding: 20px
}
#games div img[alt^="icon"]{
    margin-right: 15px;
}
}